---
import { getCollection } from "astro:content";
import IndexLayout from "../layouts/IndexLayout.astro";
import BlogList from "../components/BlogList.astro";
import Pagination from "../components/Pagination.astro";

const POST_PER_PAGE = 10;

let allPosts = await getCollection("blog", ({ data }) => !data.draft);
allPosts.sort(
    (a, b) => new Date(b.data.date) - new Date(a.data.date).getTime(),
);

const currentPage = parseInt(
    new URL(Astro.request.url).searchParams.get("page") || "1",
);
const totalPages = Math.ceil(allPosts.length / POST_PER_PAGE);

const start = (currentPage - 1) * POST_PER_PAGE;
const posts = allPosts.slice(start, start + POST_PER_PAGE);

if (currentPage > totalPages && currentPage > 1) {
    return Astro.redirect("/");
}
---

<IndexLayout title="Erdhy Ernando's Blog">
    <header class="header">
        <div class="header-container">
            <h1 class="header-title">ERDHY ERNANDO'S BLOG</h1>
            <nav class="header-nav">
                <a href="/about">about</a>
                <a
                    href="https://erdhyernando.xyz"
                    target="_blank"
                    rel="noopener noreferrer">projects</a
                >
            </nav>
        </div>
    </header>

    <section class="section">
        <p class="section-content">
            i'm trying this blogging/writing thing, will try to minimize the use
            of ai-slop (no promises).
        </p>
        <p class="section-content">
            and also hopefully can put ads to help me buy gpu
        </p>
    </section>

    <BlogList posts={posts} />
    <Pagination currentPage={currentPage} totalPages={totalPages} />
</IndexLayout>

<style>
    .header {
        margin-bottom: var(--spacing-2xl);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-title {
        font-size: var(--font-size-3xl);
        font-weight: 800;
    }

    .header-nav {
        font-size: var(--font-size-sm);
    }

    .section {
        margin-bottom: var(--spacing-2xl);
    }

    .section-content {
        font-weight: 700;
        font-size: var(--font-size-base);
    }
</style>
