---
import "../styles/global.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content="Erdhy Ernando's Blog" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

        <!-- --  RSS autodiscovery ---->
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Erdhy Ernando's Blog"
            href={new URL("rss.xml", Astro.site)}
        />
    </head>
    <body>
        <slot />
        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "6908c11fb97a4079b1df683968351fb0"}'
        ></script><!-- End Cloudflare Web Analytics -->
    </body>
</html>
